*-debug.log
*-error.
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
node_modules
oclif.manifest.json
/pmac-newman-reports
/*.openapi.yml
/.vscode
/coverage
/pmac-newman-reports
/tsconfig*.tsbuildinfo

# .pmac
/.pmac/workspaces/personal
/.pmac/workspaces/team
/.pmac/__private
/.pmac

# config
*.env*