# workflows
/.circleci
/.github

# .pmac
/.pmac

# IDE
/.vscode
pmac.code-workspace

# code
/src
/test
*.openpi.yml
tsconfig*

# lint
.editorconfig
eslint*

# SVM
.gitignore

# test
.mocha*

# package management
package-lock.json
yarn.lock
images/pmac-logo.png
docs
coverage
.husky
pmac-newman-reports
.commitlint.config.js
CONTRIBUTING.md
pmac.code-workspace
*.yml
tmp
tsconfig*
CODE_OF_CONDUCT.md
test
